<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendations</title>
    <link href="/static/rec.css" rel="stylesheet" />
</head>
<body>
    <h1>Movie Recommendations</h1>
    <a href="/">Return to main</a>
    <form id="recommendationForm">
        <label for="movie_title">Search film:</label>
        <input type="text" id="movie_title" name="movie_title" required>
        <button type="submit">Get recommend</button>
    </form>
    <h2>Reccomend:</h2>
    <table id="recommendationsTable">
        <thead>
            <tr>
                <th>Title</th>
                <th>Avgr</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            <!-- Рекомендации будут добавлены сюда -->
        </tbody>
    </table>

    <script src="static/script.js"></script>
</body>
</html>